/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    vaximile Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // Input / output
    samplesheet                  = null
    capture_kits                 = null
    vep_cache                    = null
    outdir                       = './vaximile_out'

    // Optional prebuilt indices. Built from the reference when not supplied.
    bwa_index                    = null
    star_index                   = null
    kallisto_index               = null
    salmon_index                 = null

    // Reference genome / annotation
    reference_fa                 = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/GRCh38.primary_assembly.genome.fa.gz'
    reference_includes_chr_prefix = true
    gtf                          = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/gencode.v49.annotation.gtf.gz'
    transcriptome_reference      = 'https://ftp.ensembl.org/pub/release-115/fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz'
    human_ref_peptides           = 'https://ftp.ensembl.org/pub/current_fasta/homo_sapiens/pep/Homo_sapiens.GRCh38.pep.all.fa.gz'

    // Interval scattering. Defaults call over the whole genome using GATK WGS regions.
    intervals_file               = 'gs://gcp-public-data--broad-references/hg38/v0/wgs_calling_regions.hg38.interval_list'
    interval_padding             = 100
    scatter_count                = 30

    // HLA typing references
    hla_fasta                    = 'https://raw.githubusercontent.com/jason-weirather/hla-polysolver/master/data/abc_complete.fasta'
    hla_fasta_fai                = 'https://raw.githubusercontent.com/jason-weirather/hla-polysolver/master/data/abc_complete.fasta.fai'
    hla_kmers                    = 'https://github.com/jason-weirather/hla-polysolver/blob/master/data/abc_v14.uniq'
    hla_freq                     = 'https://github.com/jason-weirather/hla-polysolver/blob/master/data/HLA_FREQ.txt'

    // GATK resource VCFs used for Mutect2, HaplotypeCaller and BAM pre-processing
    common_germline              = 'gs://gatk-best-practices/somatic-hg38/small_exac_common_3.hg38.vcf.gz'
    known_sites_dbsnp            = 'gs://gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf.gz'
    known_sites_1000g_snps       = 'gs://gcp-public-data--broad-references/hg38/v0/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
    known_indels                 = 'gs://gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.known_indels.vcf.gz'
    gnomad                       = 'gs://gatk-best-practices/somatic-hg38/af-only-gnomad.hg38.vcf.gz'
    pon                          = 'gs://gatk-best-practices/somatic-hg38/1000g_pon.hg38.vcf.gz'
    hapmap                       = 'gs://gcp-public-data--broad-references/hg38/v0/hapmap_3.3.hg38.vcf.gz'
    mills                        = 'gs://gcp-public-data--broad-references/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
    somalier_sites               = 'https://github.com/brentp/somalier/files/3412456/sites.hg38.vcf.gz'

    // Boilerplate
    publish_dir_mode             = 'copy'
    version                      = false
    help                         = false
}

// The `output {}` block in main.nf builds complete paths from params.outdir, so the
// workflow output directory has to stay at the launch directory rather than Nextflow's
// default of `results`. Otherwise every path is published under results/<outdir>/.
outputDir = '.'
workflow.output.mode = params.publish_dir_mode

// Load conf/base.config for all pipeline runs
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        apptainer.enabled      = false
        conda.channels         = ['conda-forge', 'bioconda']
    }
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        apptainer.enabled      = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}

// Load modules.config for module-specific options
includeConfig 'conf/modules.config'

// Export these variables to prevent local Python/R libraries from conflicting with
// those in the container. The JULIA depot path has been adjusted to a fixed path
// `/usr/local/share/julia` that needs to be used for packages in the container.
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = '/.Rprofile'
    R_ENVIRON_USER   = '/.Renviron'
    JULIA_DEPOT_PATH = '/usr/local/share/julia'
}

// Set bash options
process.shell = [
    'bash',
    '-C',         // No clobber - prevent output redirection from overwriting files.
    '-e',         // Exit if a tool returns a non-zero status/exit code
    '-u',         // Treat unset variables and parameters as an error
    '-o',
    'pipefail'    // Returns the status of the last command to exit with a non-zero status
]

// Disable process selector name validation until every module carries a label
nextflow.enable.configProcessNamesValidation = false

// !! Do not enable timeline/report/trace unless every container has `ps`. !!
//
// Enabling any of the three makes Nextflow inject this into each task wrapper:
//
//     command -v ps &>/dev/null || { >&2 echo "Command 'ps' required by nextflow
//       to collect task metrics cannot be found"; exit 1; }
//
// That is `exit 1`, not a warning: the task dies before the tool runs, leaving an
// empty .command.out and only that one line in .command.err. Several images used
// here (alexdobin/star, google/deepvariant, google/deepsomatic, staphb/bcftools)
// ship without procps, so this kills real tasks. A container cannot see the host's
// ps. Verified against Nextflow 26.04.6; `dag` does not inject the guard.
//
// To collect metrics for a run whose processes all have ps - a conda-only run, say -
// pass the flags on the command line instead:
//     nextflow run . -with-report -with-timeline -with-trace
timeline {
    enabled = false
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = false
    file    = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}
trace {
    enabled = false
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}

manifest {
    name            = 'vaximile'
    author          = 'Harrison Wismer'
    homePage        = 'https://github.com/hwismer/vaximile'
    description     = 'Tumor neoantigen discovery using paired tumour-normal bulk DNA and RNA sequencing'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.10.0'
    version         = '1.0.0dev'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.1'
}

validation {
    help {
        enabled = true
        command = "nextflow run vaximile -profile conda --samplesheet samplesheet.csv --capture_kits capture_kits.csv --outdir <OUTDIR>"
    }
}
